h1{
    color: rebeccapurple;
}
.form{
    display: flex;
    flex-direction: column;
}
.note > div{
    margin: 20px;
}
.note{
    display: flex;
}
.note-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.note-image{
    float: right;
}
.date-added{
    color: lightgrey;
    font-weight: lighter;
}
.buttons{
    display: flex;
}